body{
	background-color: #d2d2c1;
	background-image: url('fundo.png');
	width: 800px;
	font-size: 16px;
}
.menu{
	background-color: #c5c5b2;
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px;
	color: #53564f;
	font-size: 16px;
}
.img-campanha{
	border: 10px solid #c3c3ae;
}
a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}
.texto{
	background-color: #f8f9e9;
	padding: 10px 15px;
}
h1{
	color: #828271;
	font-size: 1.0em;
	font-family: Arial, Helvetica, sans-serif;
}
h2{
	color: #828271;
	font-size: 1.0em;
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}
#footer{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

